<div id="<%= dom_id menu %>">
  <p>
    <strong>Introduction:</strong>
    <%= menu.introduction %>
  </p>

  <p>
    <strong>Buddha:</strong>
    <%= menu.buddha %>
  </p>

  <p>
    <strong>Guru:</strong>
    <%= menu.guru %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= menu.language_id %>
  </p>

</div>
