
<%= simple_form_for(@label) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :my_favorites %>
    <%= f.input :already_visited %>
    <%= f.input :my_itinerary %>
    <%= f.input :remove_all %>
    <%= f.input :add %>
    <%= f.input :save %>
    <%= f.input :view_in_map %>
    <%= f.input :share %>
    <%= f.input :reorder %>
    <%= f.input :edit %>
    <%= f.input :delete %>
    <%= f.input :choose_itinerary_name %>
    <%= f.association :language %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
