<div id="<%= dom_id label %>">
  <p>
    <strong>My favorites:</strong>
    <%= label.my_favorites %>
  </p>

  <p>
    <strong>Already visited:</strong>
    <%= label.already_visited %>
  </p>

  <p>
    <strong>My itinerary:</strong>
    <%= label.my_itinerary %>
  </p>

  <p>
    <strong>Remove all:</strong>
    <%= label.remove_all %>
  </p>

  <p>
    <strong>Add:</strong>
    <%= label.add %>
  </p>

  <p>
    <strong>Save:</strong>
    <%= label.save %>
  </p>

  <p>
    <strong>View in map:</strong>
    <%= label.view_in_map %>
  </p>

  <p>
    <strong>Share:</strong>
    <%= label.share %>
  </p>

  <p>
    <strong>Reorder:</strong>
    <%= label.reorder %>
  </p>

  <p>
    <strong>Edit:</strong>
    <%= label.edit %>
  </p>

  <p>
    <strong>Delete:</strong>
    <%= label.delete %>
  </p>

  <p>
    <strong>Choose itinerary name:</strong>
    <%= label.choose_itinerary_name %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= label.language_id %>
  </p>

</div>
