<tr>
  <td><%= label.my_favorites %></td>
  <td><%= label.already_visited %></td>
  <td><%= label.my_itinerary %></td>
  <td><%= label.remove_all %></td>
  <td><%= label.add %></td>
  <td><%= label.save %></td>
  <td><%= label.view_in_map %></td>
  <td><%= label.share %></td>
  <td><%= label.reorder %></td>
  <td><%= label.edit %></td>
  <td><%= label.delete %></td>
  <td><%= label.choose_itinerary_name %></td>
  <td><%= label.language&.name %></td>
  
  <td>
    <%= link_to "Edit", edit_label_path(label), class: "btn btn-success" %>
    <%= link_to "Remove", label_path(label), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-danger" %>
  </td>
</tr>