<div class="row m-3 ">
  <% Language.all.each do |language| %>
    <%= link_to language.name, edit_post_post_content_path(language_id: language.id), class: "btn #{@language.id === language.id ? "btn-primary" : "btn-primary-outline" } w-auto" %>
  <% end %>
</div>

<%= simple_form_for([@post, @post_content]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <h3>Content Post</h3>

    <%= f.input :title, input_html: { class: "form-control" } %>
    <%= f.input :subtitle, input_html: { class: "form-control" } %>
    <%= f.input :content, as: :rich_text_area, input_html: { class: "form-control" }  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>