<div id="<%= dom_id post_content %>">
  <p>
    <strong>Title:</strong>
    <%= post_content.title %>
  </p>

  <p>
    <strong>Subtitle:</strong>
    <%= post_content.subtitle %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= post_content.content %>
  </p>

  <p>
    <strong>Post:</strong>
    <%= post_content.post_id %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= post_content.language_id %>
  </p>

</div>
